<div class="navbar-wagon">
  <div class="navbar_logo">
    <h3>Simple Airbnb</h3>
  </div>
  <div class="navbar_add_flat">
  </div>
  <div class="btn btn-primaryy">
    <%= link_to "All flats", flats_path, :class => "btn" %>
  </div>
</div>
